<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged Out</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button_css{
            padding: 30px;
            margin-left: 550px;
        }
        .thanks{
            display: flex;
            align-items:center; 
            justify-content:center; 
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div class="thanks" style="padding-top: 30px;">
        <h1>Thanks for logging in :)</h1>
        <br><br>
        
    </div>
    <div class="button_css">
        <button class="btn btn-outline-secondary mb-3"><a href="signup">Go back to Sign Up</a></button>
    </div>
</body>

</html>