<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .form-container {
      max-width: 400px;
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <header>
    <h1 class="text-center mb-4 mt-3">Welcome to Online Attendance System</h1>
  </header>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 form-container">
      <h2 class="text-center mb-4">Sign Up</h2>
      <form action="ins">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="Name" placeholder="Name" name="a1" required>
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="User name" name="a2" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password" name="a3" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" name="a4" required>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
      </form>
    </div>
  </div>
</div>

</body>
</html>
